@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "League Spartan", system-ui, sans-serif;
  }
}

body {
  background-color: #fafafa;
}

.MakeItNiceAgain {
  display: inline-block;
  font-size: 13px;
  padding: 50px 0;
}

.MakeItNiceAgain__side-header {
  font-weight: 700;
  margin: 0 0 5px 0;
}

.MakeItNiceAgain__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.MakeItNiceAgain__list-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.MakeItNiceAgain__list-item:before {
  content: "";
  flex: 1 1;
  padding: 3px 5px;
}

.MakeItNiceAgain__side--bids .MakeItNiceAgain__list-item {
  flex-direction: row-reverse;
}

.MakeItNiceAgain__side--bids .MakeItNiceAgain__list-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.MakeItNiceAgain__side--bids .MakeItNiceAgain__size {
  text-align: right;
}

.MakeItNiceAgain__list-item:hover {
  background: #f2f2f2;
}

.MakeItNiceAgain__price {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  color: #b7bdc1;
  display: inline-block;
  flex: 0 0 50px;
  margin: 0;
  padding: 3px 5px;
  text-align: center;
}

.MakeItNiceAgain__size {
  flex: 1 1;
  margin: 0;
  padding: 3px 5px;
  position: relative;
}

.MakeItNiceAgain__size:before {
  background-color: var(--row-color);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.08;
  position: absolute;
  top: 0;
  width: 100%;
}
